html {
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

// Scrollbar
::-webkit-scrollbar {
    width: 5px !important;
    height: 5px !important;
    background-color: #e5e5e5 !important;
}
::-webkit-scrollbar-thumb {
    background-color: $primary-6 !important;
}
::-webkit-scrollbar-thumb:hover {
    background-color: $primary-8 !important;
}
::-webkit-scrollbar-thumb:active {
    background-color: $primary !important;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: 0 0 0 #808080 inset !important;
}

.position-relative {
    position: relative;
}

.height-100vh {
    height: 100vh;
}

.modal-light {
    .modal-background {
        background: rgba(0,0,0,0.5);
    }
    > div:nth-child(2) {
        padding: 0 5px;
        width: 100%;
    }
    .modal-container {
        background: #fff;
        border-radius: $radius-large;
        position: relative;
        //-webkit-box-shadow: 0 20px 60px rgba(0,0,0,.1);
        //box-shadow: 0 20px 60px rgba(0,0,0,.1);
        box-shadow: 0 5px 30px 0 rgba(0,0,0,0.05);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        margin: 0 auto;
        width: 100%;
        overflow: hidden;
    }
    * {
        -webkit-box-flex: 1;
    }

}

.flat-style {
    @mixin hidden {
        visibility: hidden;
        opacity: 0;
    }
    .input {
        border-color: transparent;
        border-radius: $radius-large;
        background-color: $gray-2;
        box-shadow: none;
        &:focus {
            background-color: $gray-3;
        }
        &:focus::-webkit-input-placeholder {
            @include hidden
        }
        &:focus::-moz-placeholder {
            @include hidden
        }
        &:focus::placeholder {
            @include hidden
        }
    }
    .button {
        border-radius: $radius-large;
    }
}
